.DS_Store
.idea/
streaming-example/target
data
__pycache__
venv
local_node_setup
datafusion-physical-plan-python/*.pb
logs
*.parquet
woolmilk/experiments/*
woolmilk.egg-info
experiment-configurations/*/results